{% extends "navbar.html" %}

{% block scripts %}
<script>
$( document ).ready(function() {
	console.log( "Document ready !" );
});

function notifyinfra(uuid){
    msg = "Infrastructure team notified !\n Server uuid: "+ uuid + " will be reserved for you";
    alert(msg);
    addprofileid = '#' + uuid + '-addprofile';
    $(addprofileid).prop("disabled", false);
}

function addprofile(uuid, type){
    addprofileid = '#' + uuid + '-addprofile';
    if ("WebSocket" in window) {
        url = "ws://" + server + "/addprofile"

        ws = new WebSocket(url);

        ws.onmessage = function (msg) {
            msg = msg.data;
            notify(msg);
        }

        var data = {
            type: type,
            uuid: uuid
        };
        console.log(data)
        // Send the msg object as a JSON-formatted string.
        ws.onopen = function (event) { ws.send(JSON.stringify(data)) };
        $(addprofileid).prop("disabled", true);
    } else {
        alert("WebSocket not supported");
    }
}

</script>
{% endblock %}


{% block navmenu %}
<!-- Menu -->
<li class="active"><a href="/available">Available servers</a></li>
<li><a href="/ready2deploy">Reserve and deploy</a></li>
<li><a href="/use">Use servers</a></li>
{% endblock %}


{% block content %}
    <h1>Available servers</h1>
    <p class="text-left lead">This is the list of servers available (without an applied profile), notify the infrastructure team that will assign the server you want.</p>

    <div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
      <th>Server image</th>
      <th>Server type</th>
      <th>Name and location</th>
      <th>Uuid</th>
      <th>Powerstate</th>
      <th>Action</th>
    </tr>
    </thead>
    {%- for server in  r %}
        {%- if  not server["serverProfileUri"] %}
        <tr>
          {%- if  server["shortModel"]=="SY 480 Gen9" %}
          <td class="text-left"><img src="/img/sy480.png" class="img-responsive" alt="sy480"></td>
          {% elif server["shortModel"]=="SY 620 Gen9" %}
          <td class="text-left"><img src="/img/sy620.png" class="img-responsive" alt="sy620"></td>
          {% elif server["shortModel"]=="SY 680 Gen9" %}
          <td class="text-left"><img src="/img/sy680.png" class="img-responsive" alt="sy620"></td>
          {% else %}
          <td class="text-left"><img src="/img/server.png" class="img-responsive" alt="genericsrv"></td>
          {%- endif %}
          <td class="text-left">{{ server["shortModel"] }}</td>
          <td class="text-left">{{ server["name"] }}</td>
          <td class="text-left">{{ server["uuid"] }}</td>
          <td class="text-left">{{ server["powerState"] }}</td>
          <td class="text-left"><button id="{{ server["uuid"] }}-notifyinfra" type="button" class="btn btn-primary" onClick="notifyinfra('{{ server["uuid"] }}')">Notify</button>
          </td>
          <td class="text-left">
              {% if server["applicable_profile"] != "None" %}
              <button id="{{ server["uuid"] }}-addprofile" type="button" class="btn btn-primary" onClick="addprofile('{{ server["uuid"] }}', '{{ server["applicable_profile"] }}')" disabled="disabled">Add profile</button>
              {%- endif %}
          </td>

        </tr>
        {%- endif %}
     {% endfor %}
    </table>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div id="usermsg"></div>
        </div>
    </nav>
{% endblock %}
