#!ipxe
# List of system already deployed
echo MAC:${mac:hexraw}
echo Manuf:${manufacturer}

# iPXE boot for Centos7
echo "Booting Centos7"
kernel http://10.3.88.10/centos/images/pxeboot/vmlinuz
initrd http://10.3.88.10/centos/images/pxeboot/initrd.img
imgargs vmlinuz initrd=initrd.img ip=dhcp devfs=nomount inst.ks=http://10.3.88.10/centos/ks.txt
boot
