{% extends "navbar.html" %}

{% block scripts %}
<script>
var server = 'ansible.hybridit.hpecic.net:5000';
$( document ).ready(function() {
	console.log( "Document ready !" );

    status();
    containers();
});


function portainer(ipaddress){
	url = 'http://' + ipaddress + ':9000'
    console.log(url)
    window.open(url)
}


function status(){
    if ("WebSocket" in window) {
        url = "ws://" + server + "/status"

        ws = new WebSocket(url);

        ws.onmessage = function (msg) {
            var data = JSON.parse(msg.data);
            console.log(data);
            status = '#' + data.uuid + '-status';
            if (data.status == 'OS deployed, rebooting'){
                data.status = '<img src="/img/waiting.gif" alt="wait" style="width:20px;height:20px;"> ' + data.status;
            }else if (data.status == 'Deployment in progress'){
                data.status = '<img src="/img/waiting.gif" alt="wait" style="width:20px;height:20px;"> ' + data.status;
            }else if (data.status == 'System ready'){
                data.status = data.ipaddress;
            }
            // Show message
            $(status).html(data.status);
        }
    } else {
        alert("WebSocket not supported");
    }
}


function containers(){
    if ("WebSocket" in window) {
        url = "ws://" + server + "/containers"

        ws = new WebSocket(url);

        ws.onmessage = function (msg) {
            var data = JSON.parse(msg.data);
            var html = '';
            var containers = '';
            console.log(data);
            for (server of data.servers){
                html = '<table class="table table-bordered">' +
                       '<tr><th>Container name</th><th>Image</th><th>Port mapping (host:cont)</th></tr>';
                for (container of server.containers){
                    containers = '#' + server.uuid + '-containers';
                    var cports = container.NetworkSettings.Ports;
                    var portmap = '';
                    //console.log(cports);
                    //console.log(Object.keys(cports));
                    for (p of Object.keys(cports)){
                        if (!!cports[p]){
                            //console.log(cports[p][0].HostPort);
                            portmap += '<p><a href="http://' +
                                        server.ipaddress + ':' +
                                        cports[p][0].HostPort +
                                        '" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> ' +
                                        cports[p][0].HostPort +
                                        '</a>:' + p + '</p>';
                        }
                    }
                    html += '<tr>'+
                            '<td class="text-left">' +
                            container.Name.replace('/','') +
                            '</td>' +
                            '<td class="text-left">' +
                            container.Config.Image +
                            '</td>' +
                            '<td class="text-left">' +
                            portmap +
                            '</td>' +
                            '</tr>';
                }
                html += '</table>';
            }
            //console.log(html);
            // Show message
            $(containers).html(html);
            }
    } else {
        alert("WebSocket not supported");
    }
}
</script>
{% endblock %}


{% block navmenu %}
<!-- Menu -->
<li><a href="/available">Available servers</a></li>
<li><a href="/ready2deploy">Reserve and deploy</a></li>
<li><a class="active" href="/use">Deployed servers</a></li>
{% endblock %}


{% block content %}
    <h1>Deployed servers</h1>
    <p class="text-left lead">Connect to use your server docker engine.</p>
    <p class="text-left lead">Credentials login: 'admin' password: 'ITAdmin1234'.</p>
    <div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
      <th>Server image</th>
      <th>Server type</th>
      <th>Name / Location</th>
      <th>IP@</th>
      <th>Actions</th>
    </tr>
    </thead>
    {%- for server in  r %}
        {%- if not server["ipaddress"]=='' %}
        <tr>
          {%- if  server["shortModel"]=="SY 480 Gen9" %}
          <td class="text-left" rowspan="2"><img src="/img/sy480.png" class="img-responsive" alt="sy480"></td>
          {% elif server["shortModel"]=="SY 620 Gen9" %}
          <td class="text-left" rowspan="2"><img src="/img/sy620.png" class="img-responsive" alt="sy620"></td>
          {% elif server["shortModel"]=="SY 680 Gen9" %}
          <td class="text-left" rowspan="2"><img src="/img/sy680.png" class="img-responsive" alt="sy620"></td>
          {% else %}
          <td class="text-left" rowspan="2"><img src="/img/server.png" class="img-responsive" alt="genericsrv"></td>
          {%- endif %}
          <td class="text-left">{{ server["shortModel"] }}</td>
          <td class="text-left">{{ server["name"] }}</td>
          <td class="text-left">
              <div id="{{ server["uuid"] }}-status"></div>
          </td>
          <td class="text-left">
          <button id="{{ server["uuid"] }}-portainer" type="button" class="btn btn-primary btn-lg btn-block" onClick="portainer('{{ server["ipaddress"] }}')">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Connect portainer
          </button>
          </td>
        </tr>
        <tr>
            <td class="text-left" id="{{ server["uuid"] }}-containers" colspan="4"></td>
        </tr>
        {%- endif %}
     {% endfor %}
    </table>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div id="usermsg"></div>
        </div>
    </nav>
{% endblock %}
